.features-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.features-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height:112px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
}

.features-icon-wrapper > svg{}

.features-list li{
    max-width: 264px;
}

.subtitle {
    margin-bottom: 8px;
}
