.footer{
    padding: 100px 141px;
    background-color: #2E2F42;
}

.footer > .container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}   
.footer > .container .logo{
    color:#F4F4FD;
}
.footer > .container .text{
    max-width: 264px;
    color:#F4F4FD;
}
